

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  }
  
  .form {
    color: rgb(197, 189, 189);
    background-color:transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px 50px rgba(65, 153, 212, 0.1);
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease-in-out;
  }

  .form:hover {
    transform: scale(1.05);
    cursor: pointer;
    }
  
  .label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
  }
  
  .input1{
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    border:none;
    outline: none;
    border-radius: 20px;
    border-bottom: 1px solid grey;
    background-color: transparent;
    width: 100%;
    transition: all 0.3s ease-in-out;
    -webkit-appearance: none;
-moz-appearance: none;
appearance: none;
  }

.input1:focus {

outline: none;
border-bottom: 1px solid grey;
background-color:transparent;
color: white;
}


.input2{
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    border:none;
    border-radius: 20px;
    border-bottom: 1px solid grey;
    background-color: transparent;
    width: 100%;
    outline: none;
    transition: all 0.3s ease-in-out;
    -webkit-appearance: none;
-moz-appearance: none;
appearance: none;
  }

.input2:focus {

outline: none;
border-bottom: 1px solid grey;
background-color:transparent;
color: white;
}
  
  .error {
    color: grey;
    font-size: 14px;
    margin-top: 5px;
  }
  




.button {
  align-items: center;
  background-color: rgb(5, 6, 45);
  
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  color: rgb(197, 189, 189);
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 30px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button:active,
.button:hover {
  outline: 0;
}

.button {
  background-color: rgb(5, 6, 45);
  padding: 15px 10px;
  border-radius: 16px;
  width:50%;
  height: 100%;
  transition: 9000ms;
}

.button:hover {
  background: none;
  background-image: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  box-shadow: rgba(183, 141, 231, 0.829) 0 15px 30px -5px;
}

