.container{

    margin-top: 3rem;
    box-shadow: 0 0 .2rem rgba(17, 195, 207, 0.461), 0 0 .2rem rgba(93, 240, 245, 0.461), 0 0 2rem rgba(157, 252, 255, 0.461);
    background-color: #262C3A;
    display: flex;
    align-items: center;
    color: #fff;
    top: 0%;
    right: 0%;
}

.detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.detail div{
    width: fit-content;
    margin-top: 3rem;
    padding-right: 8rem;
}

.container div h1{
    margin: 0;
    min-width: 95vw;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    color: #b5edfc;

}

.container div label{
    width: fit-content;
    font-size: 1.5rem;
    color: #b5edfc;
    border-radius: 0.3rem;
    font-family: "Open Sans", sans-serif;

}

.container div p{
    width: fit-content;
    color: #b5edfc;
    font-family: "Open Sans", sans-serif;


}

.containerImg{
    display: flex;
    justify-content: center;

    margin-bottom: 2rem;
}
.container div img{
    width: 18rem;
    height: 20rem;
    overflow: hidden;
    transition: .8s;
}
.container div img:hover{
    transform: scale(1.05);
    color: white;
    background-color: #167bbe44;
    box-shadow: 0 0 1rem #0aabd39b, 0 0 4rem #61e0f79b, 0 0 8rem #5ed0f375;
}

.link{
    color: aliceblue;
    text-decoration: none;
}

.container div button{
font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #b5edfc;
  margin-top: 1rem;
  margin-left: 0.5rem;
  width: 8rem;
  height: 2.2rem;
  background: rgb(21, 58, 99);
  background: linear-gradient(
    90deg,
    rgba(21, 58, 99, 0.7987570028011204) 5%,
    rgba(129, 161, 191, 0.4654236694677871) 100%
  );
  border: transparent;
  border-radius: 6rem;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  align-items: center;
  transition: all 0.3s;
}
.container div button:hover{
    transform: scale(1.05);
    color: white;
    background-color: #167bbe44;
    box-shadow: 0 0 1rem #0aabd39b, 0 0 4rem #61e0f79b, 0 0 8rem #5ed0f375;
}